body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background: #e9b59f;
  position: relative;
  overflow: hidden;
}

:root {
  --shape-width: 15vmin;
  --left: calc(20% - var(--shape-width) / 2);
  --right: calc(80% - var(--shape-width) / 2);
}

.shape {
  background: white;
  width: var(--shape-width);
  height: var(--shape-width);
}

.shape {
  position: absolute;
  bottom: calc(50% - var(--shape-width) / 2);
  left: var(--left);
}

.shape {
  opacity: 0;
  --easeInBackOutQuart: cubic-bezier(0.64, -0.36, 0.1, 1);
  animation: move 4s var(--easeInBackOutQuart) infinite,
    skew 4s var(--easeInBackOutQuart) infinite;
}

.shape::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape::before {
  width: 65%;
  height: 65%;
  background: #409ad5;
}

@keyframes move {
  0% {
    left: var(--left);
    opacity: 0;
  }

  10% {
    left: var(--left);
    opacity: 1;
  }

  70% {
    left: var(--right);
    opacity: 1;
  }
  100% {
    left: var(--right);
    opacity: 0;
  }
}

@keyframes skew {
  0%,
  15% {
    transform: skew(0deg);
  }

  35%,
  50% {
    transform: skew(20deg);
  }

  65% {
    transform: skew(-5deg);
  }

  80%,
  100% {
    transform: skew(0deg);
  }
}
