body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: #e9b59f;
  position: relative;
  overflow: hidden;
}

:root {
  --shape-width: 15vmin;
}

.shape {
  position: absolute;
  right: 50%;
  top: calc(50% - var(--shape-width) / 2);
  transform-origin: right center;
  animation: squash-and-stretch 4s 0.5s linear infinite;
}

.shape {
  width: var(--shape-width);
  padding-top: var(--shape-width);
  background-color: white;
}

.shape::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape::before {
  width: 65%;
  height: 65%;
  background-color: #409ad5;
}

.surface {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(100%, -50%);
}

.surface {
  width: 3%;
  height: 50%;
  background-color: black;
}

/* animation */
@keyframes squash-and-stretch {
  0% {
    right: 50%;
    transform: translate(0) scale(1);
  }

  /* squash */
  10% {
    right: 60%;
    transform: scale(1.2, 0.5);
  }

  /* collision */
  14%,
  50% {
    right: 20%;
    transform: translateY(0) scale(0.5, 1.2);
    opacity: 1;
  }

  /* slip */
  80% {
    right: 20%;
    transform: translateY(100%) scale(0.5, 1.2);
    opacity: 0;
  }

  /* recover */
  90% {
    right: 50%;
    transform: translate(0) scale(1);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
